tools/ip.txt
iphome.log
grr
.bzr
conf
3rdparty/phpmyadmin/config.inc.php
files_h
files_b
trip*
_404.php
404_.php
*.log
error.log
error_log
tripwords2.txt
tripwords.txt
db_config.h
.cache
cache
.htaccess
.Trash-1000
.out
log/*
logs/*
not_included/*
config/config.php
files
files2
develop/*
images/avatars/*
images/news/*
images/wiki/*
tmp/*
wtf/*
!modules/core*
modules/core_videos/cache/*.jpg
admin/update/*
install/.htaccess
install/.htpasswd
install/install.log
html/*
webalizer/*
rfscms.project
rfscms.workspace
rfscms.phprj
.codelite/*
newznab/*
misc/*
old/*

