body {
background-color: #006E0C;
}


.news_box {
	clear: both;
	margin: 0px;
}

.news_headline_bar {
	background-color:rgba(0,220,150,0.1);
	height: 25px;
	padding: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.news_headline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
	color: #DFFFC9;
	float: left;
	text-shadow: 2px 2px 2px #000;
}

.news_time {
	font-style: italic;
	padding: 5px 25px;
	vertical-align: text-bottom;
	float: left;
}

.news_image {
	margin: 0px 10px 10px 0px;
	float: left;
}

.news_article {
	border-top: 1px solid #000;
	clear: both; 
	padding: 15px;
	background-color:rgba(0,0,0,0.1);
}

.news_edit_bar {
	border-top: 1px solid #000;
	clear: both;
	background-color:rgba(0,160,150,0.1);
	padding: 25px;
	margin: 0 0 25px 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}


.forum_box {
	width: 98%;
	float: left;
	overflow: hidden;
	background-color:rgba(0,0,0,0.2);
	border-radius: 10px;
	margin: 2px;
}

.forum_user{
	float: left;
	min-height: 150px;
	padding: 5px;
}

.forum_message{
	overflow: hidden;
	min-height: 160px;	
	padding: 5px;
	background-color:rgba(0,0,0,0.2);
	
}

.tags {
	border: 1px solid #fff;	
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #888;
	margin: 2px;
	padding: 2px;
}

.forum_time{
	overflow: hidden;
	clear: both;
	
}

.file_list {  margin: 10px; }

.file_category {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:   #000000;
    background-color:rgba(0,60,0,0.1);
	height: 36px;
	padding-left: 10px;
	font-style: none;
}

.file_category_link, .file_category_link:link {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: none;
	text-decoration: none;
	color: #000;
	padding-top:5px;
	padding-left: 20px;
}

.file_link, .file_link:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: none;
	color: #000;
}

.sc_file_table_outer_0 { background-color:rgba(0,20,0,0.1); }
.sc_file_table_0 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight: normal;
    color:   #000;	
	padding-left: 5px;
}

.sc_file_table_outer_1 { background-color:rgba(0,60,0,0.1); }
.sc_file_table_1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight: normal;
    color:   #000;	
	padding-left: 5px;
}



.lefttd {
	width: 1px;
}

.righttd {
	width: 1px;
}


.memebox {
	text-align: center;
	min-height: 320px;
	margin: 5px;
	background-color: #eee;
	box-shadow: 5px 5px 5px #888888;
	border:solid 1px #777777;
	border-radius: 5px;
}

.memepic {
	padding: 5px;
	text-align: center;
	min-height: 220px;
	max-height: 220px;
	overflow-y:scroll;
	
}

.toptd {
	color: #006E0C;
	background-color: #006E0C;
}

hr {
	border: 1px;
	border-color: #00FF00;
	border-style: dotted;
}

.top_site_name {
	color: #00FF00;
	font-size: 32px;
}

.slogan {
	color: #00FF00;

}

.wikishell {
	margin:0 auto;
	padding: 10px;
	align: center;
	width: 80%;
	font-family: monospace;
	background-color: #00ff00;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


a
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
color: #18FF08;
}

a:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
color: #24FF03;
}

a:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
color: #0D2B0F;
background-color: #05FF05;
}

.sc_top_menu_link {
	padding-left: 10px;
}


.rfs_thumb {
box-shadow: 3px 3px 3px #005500;
	border:solid 1px #222222;
	border-radius:5px;
}

input, select, textarea {
    font-family: Verdana;
    font-size : 12px;
    font-weight: bold;
border-width: 1px;
color: #3BEB6A;
background-color: #014006;
}

td {
color: #62FF62;
}

.forum_table_head
{
padding: 5px;
}

.warning
{
}

.iframez
{
}

.contenttd
{
}

.imgg
{
}

.sc_project_table_0
{
}

.redbutton
{
}

.menutop
{
}

.logged_in_box
{
}

.logged_in_td
{
}

.sc_top_menu_table
{
}

.midtd
{
}

.reddit_button
{
}

.confirmform
{
}

.sc_admin
{
}

.inform
{
}

.ainform
{
}

.questionhr
{
}

.rfswiki_link
{
}

.formboxd
{
}

.a_cat
{
}

.td_cat
{
}

.sc_black
{
}

.sc_email
{
}

.news_td
{
}

.b4button
{
}

.sc_warning
{
}

.dm_warning
{
}

.xp_form
{
}

.xptd_c
{
}

.xptd_b
{
}

.xp_title
{
}

.xp_little_black
{
}

.admtdtop
{
}

.dmz_item
{
}

.green
{
}

.nettd
{
}

.admmtd
{
}

.lilwarn
{
}

.tdfilehead
{
}

.sc_top_file_table
{
}

.pod
{
}

.podhead
{
}

.podheadshort
{
}

.pmsglink
{
}

.sc_site_urlr
{
}

.tt_contenttd
{
}

.tabletop
{
}

.TEST
{
}

.sc_project_table_header
{
}

.downloadtd
{
}

.atpb
{
}

.rfswiki_contenttd
{
}

.rfs_bulletlist
{
}

.rfs_bulletlist_txt_td
{
}

.rfs_bulletlist_img_td
{
}

.sc_project_table_1
{
}

.h1
{
}

.nomove
{
}

.message_mini_indicator
{
}

.private_message_from
{
}

.private_message_sent
{
}

.private_message_subject
{
}

.private_message_body
{
}

.middle_cont
{
}

.thirdtd
{
}

.page
{
}

.copyright
{
}

.hidden
{
}

.ui-slider-handle
{
}

.ui-button-icon-primary
{
}

.ui-button-icon-secondary
{
}

.ui-progressbar-value
{
}

.ui-spinner
{
}

.ui-spinner-button
{
}

.ui-icon
{
}

.ui-selectable-helper
{
}

.ui-widget-header
{
}

.gallery
{
}

.ui-autocomplete-category
{
}

.ui-handle-helper-parent
{
}

.counts
{
}

.failed
{
}

.passed
{
}

.test-name
{
}

.module-name
{
}

.test-message
{
}

.test-source
{
}

.test-expected
{
}

.test-actual
{
}

.test-diff
{
}

.total
{
}

.admin_box
{
padding: 5px;
margin: 5px;
}

