body {
    scrollbar-base-color: #008888;
    scrollbar-arrow-color: #00FFFF;
    scrollbar-DarkShadow-Color: #004444;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #000000;
}


.rfs_thumb {
	box-shadow: 3px 3px 3px #222222;
	border:solid 1px #222222;
	border-radius:5px;
}

.wikishell {
	margin:0 auto;
	align: center;
	width: 80%;
	font-family: monospace;
	background-color: #ffffff;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.logged_in_box {
font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
    color: #00FF00;
}

.slogan
{
    font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
    color: #00FF00;

}

.confirmform
{
	padding: 45px;
    border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-color: #000000;
    border-width: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: normal;
	font-style: normal;
	color: #FFFFFF;
	background-color: #880000;
}

.warning
{
  font-family: Lucidia;
  font-size: x-large;
  font-style: normal;
  color: #FFFFFF;
  background-color: #880000;
}

.tabletop
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    
}

.sc_top_menu_table
{
  font-family: Lucidia;
  gfont-size: x-large;
  font-style: normal;
  background-color: #333333;
}
.sc_top_menu_table_td
{
  font-family: Lucidia;
  gfont-size: x-large;
  font-style: normal;
  background-color: #333333;
}
.sc_top_menu_table_inner
{
  font-family: Lucidia;
  gfont-size: x-large;
  font-style: normal;
  background-color: #333333;
}


.rfswiki_link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #373777;
}

.rfswiki_link:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #373797; 
}

.rfswiki_link:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #9595f5;    
}

.sc_top_menu_link
{
    font-family: Lucidia;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #333333;
}

.sc_top_menu_link:link
{
    font-family: Lucidia;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #FAFAFA;
    background-color: #333333;
}

.sc_top_menu_link:visited
{
    font-family: Lucidia;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #999999;
    background-color: #333333;
}

.sc_top_menu_link:hover
{
    font-family: Lucidia;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
	background-color: #333333;
	color: #b7d7ee;
}

.news_headline
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #777777;
}

.news_headline:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #777777;
}

.news_headline:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #555555;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #777777;
}

h3 {
    font-family: Lucidia;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #555555;
}

th{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #000000;
   background-color: #77ff77;
}


td{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #777777;
   background-color: #000000;	
}

.downloadtd{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #0397FF;
	background-color: #008400; 
}

.contenttd{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #FFFFFF;
    background-color: #000000;
}


.sc_project_table_0{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #777777;
	background-color: #000000;
}

.sc_project_table_1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #777777;
	background-color: #444444;
}


.sc_top_file_table{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:   #777777;
    background-color: #000000;
}

.sc_file_table_0{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #777777;
    background-color: #000000;
}

.sc_file_table_1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #777777;
    background-color: #444444;
}

.sc_file_table_2{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #777777;
    background-color: #222222;
}


.midtd{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;    
	background-color: #000000;

}

.toptd{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6px;
    font-weight: bold;
    color:   #000000;
	background-color: #000000;
}

.lefttd{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:   #777777;
	background-color: #000000;
}

a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #00ff00;
}

a:link{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #00bb00; 
}

a:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #000000;    
	background-color: #00ff00;
}

input, select, textarea{
    font-family: Verdana;
    font-size : 12px;
    font-weight: bold;
    border-width : 2px;
    color: #000000;
    background-color : #888888;
}