body {
	background-color: #5555ff;
}


.forum_box {
	width: 98%;
	float: left;
	overflow: hidden;
	background-color:rgba(0,0,0,0.2);
	border-radius: 10px;
	margin: 2px;
}

.forum_user{
	float: left;
	min-height: 150px;
	padding: 5px;
}

.forum_message{
	overflow: hidden;
	min-height: 160px;	
	padding: 5px;
	background-color:rgba(0,0,0,0.2);
	
}

.forum_time{
	overflow: hidden;
	clear: both;
	
}


.rfs_thumb {
	box-shadow: 3px 3px 3px #222222;
	border:solid 1px #222222;
	border-radius:5px;
}

input, select, textarea {
    font-family: Verdana;
    font-size : 12px;
    font-weight: bold;
    border-width : 2px;
	color: #0000ff;
    background-color : #aaaaff;
}


.top_menu                   
{ 
    margin: 0 10% 2 10%;
    padding: 6 0 24px 0; 
    position: relative; 
    gbackground-color: #558; 
    gborder: 1px;
    gborder-color: #225;
    gborder-style: solid;
}

.top_menu ul                
{ 
    margin: 0 0 0 0; 
    padding: 0 0 0 0; 
    position: relative; 
    list-style: none; 
    
}
.top_menu ul li             
{ 
    display:inline;
    float: left; 
    padding: 0 5px 0; 
    margin: 0 0 0 0; 
    position: relative; 
    z-index: 10; 
    
}

.top_menu ul li a           
{ 
    gfont-size:14px; 
    color: #55f; 
    fdisplay: block; 
    padding: 0 10px; 
    text-decoration: none; 
    
}

.top_menu ul li a:hover
{ 
    gfont-size:14px; 
    color: #000; 
    fdisplay: block; 
    padding: 0 10px; 
    text-decoration: none; 
    
}

.top_menu ul li.selected    
{ 
    gbackground-color: #055; 
    border: 1px solid #000; 
}
.top_menu ul li.selected a  
{ 
    color: #00f; 
}

td {
	color:#9999FF;
}

.lefttd {
	width: 1px;
}

.righttd {
	width: 1px;
}
