body {
	background-color: #5555ff;
}

input, select, textarea {
    font-family: Verdana;
    font-size : 12px;
    font-weight: bold;
    border-width : 2px;
	color: #0000ff;
    background-color : #aaaaff;
}


.top_menu                   
{ 
    margin: 0 10% 2 10%;
    padding: 6 0 24px 0; 
    position: relative; 
    gbackground-color: #558; 
    gborder: 1px;
    gborder-color: #225;
    gborder-style: solid;
}

.top_menu ul                
{ 
    margin: 0 0 0 0; 
    padding: 0 0 0 0; 
    position: relative; 
    list-style: none; 
    
}
.top_menu ul li             
{ 
    display:inline;
    float: left; 
    padding: 0 5px 0; 
    margin: 0 0 0 0; 
    position: relative; 
    z-index: 10; 
    
}

.top_menu ul li a           
{ 
    gfont-size:14px; 
    color: #55f; 
    fdisplay: block; 
    padding: 0 10px; 
    text-decoration: none; 
    
}

.top_menu ul li a:hover
{ 
    gfont-size:14px; 
    color: #000; 
    fdisplay: block; 
    padding: 0 10px; 
    text-decoration: none; 
    
}

.top_menu ul li.selected    
{ 
    gbackground-color: #055; 
    border: 1px solid #000; 
}
.top_menu ul li.selected a  
{ 
    color: #00f; 
}


