body {
 margin: 0px;
  background-color: #FFAAAA;
}

td{
    font-family: Verdana;
    font-size: 12px;
}

.midtd {
     padding: 20px;
}

.news_img_td {
padding: 20px;
	vertical-align: top;
	horizontal-align: center;
}
.news_td {
	vertical-align: top;
 padding: 20px;
	
}
.news_a{
	vertical-align: top;
}

.tabletop {
    font-family: Verdana;
    font-size: 16px;
    color: #FFAAAA;
}

.rfs_thumb { 
box-shadow: 5px 5px 5px #552222;
border: 1px solid #552222;
border-radius: 5px;
}



hr {
    border: 1px;
    border-color: #775555;
    border-style: dotted;
}

.sc_top_menu_table {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #995555;
    background-color: #f6c2c7;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;    
}

.thirdtd{
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    color: #773333;
    background-color: #ac7376;
}

.contenttd {
    color: #000000;
}
   
.toptd {
   padding: 5px;
    color: #000000;
    background-color: #000000;
}

.logged_in_box{
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    color: #ac7376;
}
.logged_in_td{
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    color: #ac7376;
}

.slogan{
    color: #000000;
    background-color: #000000;

}

.wikishell {
	margin:0 auto;
	align: center;
	width: 80%;
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.confirmform
{
	padding: 45px;
    border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-color: #000000;
    border-width: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: normal;
	font-style: normal;
	color: #FFFFFF;
	background-color: #880000;
}

input,select,textarea{
    font-family: Arial;
    font-size: 12px;
	color: #000000;
    border: 1px;
    border-color: #f6c2c7;
    border-style: solid;
    background-color: #d6a2a7;
}