body {
 margin: 0px;
  background-color: #FFAAAA;
}


.news_box {
	clear: both;
	margin: 0px;
}

.news_headline_bar {
	background-color:rgba(0,220,150,0.1);
	height: 25px;
	padding: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.news_headline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
	color: #DFFFC9;
	float: left;
	text-shadow: 2px 2px 2px #000;
}

.news_time {
	font-style: italic;
	padding: 5px 25px;
	vertical-align: text-bottom;
	float: left;
}

.news_image {
	margin: 0px 10px 10px 0px;
	float: left;
}

.news_article {
	border-top: 1px solid #000;
	clear: both; 
	padding: 15px;
	background-color:rgba(0,0,0,0.1);
}

.news_edit_bar {
	border-top: 1px solid #000;
	clear: both;
	background-color:rgba(0,160,150,0.1);
	padding: 25px;
	margin: 0 0 25px 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}


.forum_box {
	width: 100%;
	float: left;
	overflow: hidden;
	background-color:rgba(0,15,0,0.5);
	border-radius: 10px;
	margin: 2px;
}

.forum_user{
	float: left;
	min-height: 150px;
	padding: 5px;
}

.forum_message{
	overflow: hidden;
	min-height: 160px;	
	padding: 5px;
	background-color:rgba(0,0,0,0.5);
	
}

.forum_time{
	overflow: hidden;
	clear: both;
	
}


.file_category {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:   #000000;
    background-color:rgba(150,0,0,0.1);
	height: 36px;
	padding-left: 10px;
	font-style: none;
	
}

.file_category_link, .file_category_link:link {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: none;
	color: #f00;
	padding-top:5px;
	padding-left: 20px;
}

.sc_file_table_0 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight: normal;
    color:   #000;
	background-color:rgba(50,0,0,0.1);
	height: 32px;
	padding-left: 5px;
}

.sc_file_table_1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight: normal;
    color:   #000;
	background-color:rgba(150,0,0,0.1);
	height: 32px;
	padding-left: 5px;
}



td{
    font-family: Verdana;
    font-size: 12px;
}

.midtd {
     padding: 20px;
}

.news_img_td {
padding: 20px;
	vertical-align: top;
	horizontal-align: center;
}
.news_td {
	vertical-align: top;
 padding: 20px;
	
}
.news_a{
	vertical-align: top;
}

.tabletop {
    font-family: Verdana;
    font-size: 16px;
    color: #FFAAAA;
}

.rfs_thumb { 
box-shadow: 5px 5px 5px #552222;
border: 1px solid #552222;
border-radius: 5px;
}



hr {
    border: 1px;
    border-color: #775555;
    border-style: dotted;
}

.sc_top_menu_table {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #995555;
    background-color: #f6c2c7;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;    
}

.thirdtd{
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    color: #773333;
    background-color: #ac7376;
}

.contenttd {
    color: #000000;
}

.lefttd {
	width: 1px;
}
.righttd {
	width: 1px;
}
   
.toptd {
   padding: 5px;
    color: #000000;
    background-color: #000000;
}

.logged_in_box{
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    color: #ac7376;
}
.logged_in_td{
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    color: #ac7376;
}

.slogan{
    color: #000000;
    background-color: #000000;

}

.wikishell {
	margin:0 auto;
	align: center;
	width: 80%;
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.confirmform
{
	padding: 45px;
    border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-color: #000000;
    border-width: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: normal;
	font-style: normal;
	color: #FFFFFF;
	background-color: #880000;
}

input,select,textarea{
    font-family: Arial;
    font-size: 12px;
	color: #000000;
    border: 1px;
    border-color: #f6c2c7;
    border-style: solid;
    background-color: #d6a2a7;
}