

.rfs_thumb {
	box-shadow: 3px 3px 3px #222222;
	border:solid 1px #222222;
	border-radius:5px;
}

.wikishell {
	padding: 5px;
	margin:0 auto;
	align: center;
	width: 90%;
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.slogan{
    
    font-size: large;
    font-style: italic ;
    color: #000000;

}

.toptd{
    font-size: 6px;
    color: #FFFFFF;
}
.contenttd{
    font-size: large;
    color: #000000;
}

.confirmform{
	padding: 45px;
    border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-color: #000000;
    border-width: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: normal;
	font-style: normal;
	color: #FFFFFF;
	background-color: #880000;
}