body{
  background-color: #FFFFFF;
  padding: 3px;
  margin: 3px;
}


.rfs_thumb {
	box-shadow: 3px 3px 3px #222222;
	border:solid 1px #222222;
	border-radius:5px;
	
	margin: 10px;
}

.memebox {
	text-align: center;
	min-height: 324px;
	margin: 5px;
	box-shadow: 5px 5px 5px #888888;
	border:solid 1px #777777;
	border-radius: 5px;
}

.memepic {
	text-align: center;
	min-height: 220px;
	max-height: 220px;
	overflow-y: auto;
}

.wikishell {
	padding: 5px;
	margin:0 auto;
	align: center;
	width: 90%;
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


td{
    font-family: Verdana;
    font-size: 12px;

}

.news_img_td {
	vertical-align: top;
	horizontal-align: center;
}
.news_td {
	vertical-align: top;
	
	
}
.news_a{
	vertical-align: top;
}

.tabletop
{
    font-family: Verdana;
    font-size: 16px;
    color: #333377;
}

hr{
    border: 1px;
    border-color: #c2c7f6;
    border-style: dotted;
}

.sc_top_menu_table {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #555599;    
    background-color: #c2c7f6;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.sc_top_menu_table_td {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #555599;    
    background-color: #c2c7f6;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.sc_top_menu_table_inner {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #555599;    
    background-color: #c2c7f6;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.thirdtd {
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    color: #333377;
	background-color: #7376ac;
    border: 1px;
    border-color: #000000;
}

.contenttd {
    color: #000000;
}



.top_site_name {
    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    color: #c2c7FF;
    background-color: #9396c3;
}

.verytoptd {
	min-width: 900px;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
	
	

}
    
.toptd {
    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    color: #6267bF;
    text-shadow: 2px 2px #000;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
		
	background-image: linear-gradient(bottom, rgb(194,199,246) 23%, rgb(38,57,71) 62%, rgb(41,61,148) 81%);
	background-image: -o-linear-gradient(bottom, rgb(194,199,246) 23%, rgb(38,57,71) 62%, rgb(41,61,148) 81%);
	background-image: -moz-linear-gradient(bottom, rgb(194,199,246) 23%, rgb(38,57,71) 62%, rgb(41,61,148) 81%);
	background-image: -webkit-linear-gradient(bottom, rgb(194,199,246) 23%, rgb(38,57,71) 62%, rgb(41,61,148) 81%);
	background-image: -ms-linear-gradient(bottom, rgb(194,199,246) 23%, rgb(38,57,71) 62%, rgb(41,61,148) 81%);

	background-image: -webkit-gradient(	linear,	left bottom,	left top,	color-stop(0.23, rgb(194,199,246)),	color-stop(0.62, rgb(38,57,71)),	color-stop(0.81, rgb(41,61,148)));
}


.lefttd {
	vertical-align: text-top;
	width:1px;
	padding: 5px;
}

.midtd {
	vertical-align: text-top;
	padding:10px;	
	min-width: 900px;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow: hidden;
}

.righttd {
	vertical-align: text-top;
	width: 1px;
	padding: 5px;
}

.file_list {

}

.file_category {

    font-family: Verdana;
    font-size: 32px;
    font-style: italic ;
    color: #00F;

	border: 1px;
	border-color: #000000;
	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


.slogan {
    font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
    color: #c2c7FF;
    

}

.wikishell {
	margin:5px auto;
	padding: 5px;
	align: center;
	width: 80%;
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}



.forum_box {
	width: 100%;
	float: left;
	overflow: hidden;
	background-color:rgba(0,15,150,0.5);
	padding: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 2px;
}

.forum_user{
	float: left;
	min-height: 160px;
	background-color:rgba(0,60,100,0.5);
	padding: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.forum_message{
	overflow: hidden;
	min-height: 160px;	
	padding: 5px;
	color: #FFF;
	background-color:rgba(0,0,0,0.5);
	
}

.forum_time{
	overflow: hidden;
	clear: both;
	
}




input,textarea{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    border: 1px;
    border-color: #c2c7f6;
    border-style: solid;
    background-color: #a2a7d6;
}
input[type="select"] {
	background-color: #a2a7d6;
}

input[type="submit"] {
border-width: 1px;
	
	border-left-color: #ffffff;
	border-top-color: #ffffff;
    border-bottom-color: #000000;
	border-right-color: #000000;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	
	-moz-box-shadow: 5px 5px 3px  #555;
	-webkit-box-shadow: 5px 5px 3px   #555;
	box-shadow: 5px 5px 3px  #555;
	
	cursor: pointer;


}