body{
  background-color: #FFFFFF;
  padding: 3px;
  margin: 3px;
}

.rfs_thumb {
	box-shadow: 3px 3px 3px #222222;
	border:solid 1px #222222;
	border-radius:5px;
	
	margin: 10px;
}

.memebox {
	text-align: center;
	min-height: 324px;
	margin: 5px;
	box-shadow: 5px 5px 5px #888888;
	border:solid 1px #777777;
	border-radius: 5px;
}

.memepic {
	box-shadow: 5px 5px 5px #888888;
	border:solid 1px #777777;
	border-radius: 5px;
	text-align: center;
}

.wikishell {
	padding: 5px;
	margin:0 auto;
	align: center;
	width: 90%;
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

td{
    font-family: Verdana;
    font-size: 12px;
}


.news_box {
	clear: both;
	margin: 0px;
}

.news_headline_bar {
	background-color:rgba(0,220,150,0.1);
	height: 25px;
	padding: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.news_headline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
	color: #DFFFC9;
	float: left;
	text-shadow: 2px 2px 2px #000;
}

.news_time {
	font-style: italic;
	padding: 5px 25px;
	vertical-align: text-bottom;
	float: left;
}

.news_image {
	margin: 0px 10px 10px 0px;
	float: left;
}

.news_article {
	border-top: 1px solid #000;
	clear: both; 
	padding: 15px;
	background-color:rgba(0,0,0,0.1);
}

.news_edit_bar {
	border-top: 1px solid #000;
	clear: both;
	background-color:rgba(0,160,150,0.1);
	padding: 25px;
	margin: 0 0 25px 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}


.news_img_td {
	vertical-align: top;
	horizontal-align: center;
}
.news_td {
	vertical-align: top;
}

.news_a{
	vertical-align: top;
}

.tabletop
{
    font-family: Verdana;
    font-size: 16px;
    color: #333377;
}

h1{
	font-weight: bold;
	font-size: 20px;
	margin: 0px;
}

h2 {
	font-weight: bold;
	font-size: 18px;
	margin: 0px;
}

h3 {
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
}

hr{
    border: 1px;
    border-color: #c2c7f6;
    border-style: dotted;
}

.sc_top_menu_table {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #555599;    
    background-color: #c2c7f6;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.sc_top_menu_table_td {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #555599;    
    background-color: #c2c7f6;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.sc_top_menu_table_inner {
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    color: #555599;    
    background-color: #c2c7f6;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.thirdtd {
    height: 16px;
    font-family: Verdana;
    font-size: 12px;
    color: #333377;
	background-color: #7376ac;
    border: 1px;
    border-color: #000000;
}

.contenttd {
    color: #000000;
}

.top_site_name {
    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    color: #c2c7FF;
    background-color: #9396c3;
}

.verytoptd {
	min-width: 900px;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
    
.toptd {
    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    color: #6267bF;
    text-shadow: 2px 2px #000;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	background-color: #9396c3;

}


.lefttd {
	vertical-align: text-top;
	width:1px;
	padding: 5px;
}

.midtd {
	vertical-align: text-top;
	padding:10px;	
	min-width: 900px;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow: hidden;
}

.righttd {
	vertical-align: text-top;
	width: 1px;
	padding: 5px;
}

.file_category_link, .file_category_link:link {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
	color: #000;
	padding-top:5px;
	padding-left: 20px;
}
.file_category_link:hover {
	color: #fff;
	background-color: #000;
}

.file_category {
    font-family: Verdana;
    font-size: 32px;
    font-style: italic ;
    color: #00F;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


.sc_file_table_0 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight: normal;
	background-color: #ddd; 
	height: 32px;
	padding-left: 5px;
}

.sc_file_table_1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
	font-weight: normal;
    background-color: #ccc; 
	height: 32px;
	padding-left: 5px;
}


.slogan {
    font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
    color: #c2c7FF;
 }

.wikishell {
	margin:5px auto;
	padding: 5px;
	align: center;
	width: 80%;
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.forum_box {
	width: 100%;
	float: left;
	overflow: hidden;
	background-color:rgba(0,15,150,0.5);
	padding: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 2px;
}

.forum_user{
	float: left;
	min-height: 160px;
	background-color:rgba(0,60,100,0.5);
	padding: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.forum_message{
	overflow: hidden;
	min-height: 160px;	
	padding: 5px;
	color: #FFF;
	background-color:rgba(0,0,0,0.5);
	
}

.forum_time{
	overflow: hidden;
	clear: both;
}

input,textarea{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    border: 1px;
    border-color: #c2c7f6;
    border-style: solid;
    background-color: #a2a7d6;
}

input[type="select"] {
	background-color: #a2a7d6;
}

input[type="submit"] {
	border-width: 1px;
	border-left-color: #ffffff;
	border-top-color: #ffffff;
    border-bottom-color: #000000;
	border-right-color: #000000;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-box-shadow: 5px 5px 3px  #555;
	-webkit-box-shadow: 5px 5px 3px   #555;
	box-shadow: 5px 5px 3px  #555;
	cursor: pointer;
}