body
{
	margin: 0px;
    scrollbar-base-color: #008888;
    scrollbar-arrow-color: #00FFFF;
    scrollbar-DarkShadow-Color: #004444;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #A397FF;
	
}



.rfs_thumb {
	box-shadow: 3px 3px 3px #A397FF;
	border:solid 1px #A397FF;
	border-radius:5px;
}


.slogan
{
    font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
    color: #A397FF;

}

.warning
{

  font-family: Lucidia;
  font-size: x-large;
  font-style: normal;
    color: #FFFFFF;
  background-color: #880000;
}

.tabletop {
    font-family:  Verdana;
    font-size: large;
    font-weight: bold;
    color: #A397FF;
}

.sc_top_menu_table
{
  font-family: Lucidia;
  ffont-size: x-large;
  font-style: normal;
  background-color: #A397FF;
}

.sc_top_menu_link
{
    font-family: System;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #4D44DB;
    background-color:  #A397FF;
}

.sc_top_menu_link:link
{
    font-family: System;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #4D44DB;

}

.sc_top_menu_link:hover{
    font-family: System;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
	background-color:  #ffffff;
	color: #00202b;
    background-image: none;

}


.rfswiki_link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}
.rfswiki_link:link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.news_a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}
.news_a:link{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.news_headline{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.news_headline:link{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.news_headline:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #0000ff;
}

h1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.font
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-style: normal;
    color: #FFFFFF;
}

td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    ffont-weight: bold;
    color:   #A397FF;
	background-color: #4D44DB;	
	lbackground-image: url("images/gen_bkg.gif");
}

.downloadtd
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	color:   #4D44DB;
	background-color: #A397FF;
}


.contenttd
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #4D44DB;
	background-color: #A397FF;
}

.sc_project_table_1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #4D44DB;
	background-color: #73C7FF;
}

.sc_project_table_2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #4D44DB;
	background-color: #73A7FF;
}


.sc_top_file_table
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
	color:   #4D44DB;
	background-color: #A397FF;
}

.sc_file_table_0
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	color:   #4D44DB;
	background-color: #A397FF;
}

.sc_file_table_1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #A397FF;
	background-color:   #4D44DB;

}

.sc_file_table_2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #4D44DB;
	background-color: #73A7FF;
}


.rfs_bulletlist
{
    color: #4D44DB;
    background-color: #A397FF;
    border: 1px;
    border-color: #4D44DB;
    border-style: dashed;
}
.rfs_bulletlist_img_td
{
    color: #4D44DB;
    background-color: #A397FF;
    width: 7px;
}
.rfs_bulletlist_txt_td
{
    color: #4D44DB;
    background-color: #A397FF;
}

hr
{
    border: 1px;
    border-color: #4D44DB;
    border-style: dotted;
}

.midtd
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    fcolor:   #4D44DB;
	background-color: #4D44DB; 

}

.toptd
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6px;
    font-weight: bold;
    color:   #4D44DB;
	background-color: #4D44DB;	
}

.lefttd
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color:   #4D44DB;
	background-color: #A397FF;
}


.logged_in_td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 6px;
    font-weight: bold;
    color:   #4D44DB;
	background-color: #A397FF;
}
.logged_in_box {
	font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
    color:   #4D44DB;
	
}

.stp_td1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #000000;
    background-color: #00cccc;
    background-image: url(images/td_bg.gif);
}

a
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #FFFF00; 
}

a:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #FFFF00;
}

a:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
	color:   #FFFF00;
    background-color: #ffffff;
}

.atpb
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #000000;
}

.atpb:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #004040;
}

.atpb:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #00ffff;
}

input, select, textarea
{
    font-family: Verdana;
    font-size : xx-small;
    font-weight: bold;
    color: #A397FF;
    border-width : 2px;    
    background-color : #4D44DB;


}