@font-face {
	font-family: wow;
	src: url('wow.ttf');
}


body{
margin: 0px;
	background-color: #000000;
background-image: url('bkg.png');
}

h1 {
	font-family: wow;
	color: #FFFF00;
	text-shadow: 2px 2px #222;
}
h2 {
	font-family: wow;
	color: #FFFF00;
	text-shadow: 2px 2px #222;
}
h3 {
	font-family: wow;
	color: #FFFF00;
	text-shadow: 2px 2px #222;
}

.rfs_thumb {
	box-shadow: 3px 3px 3px #222222;
	border:solid 1px #222222;
	border-radius:5px;
}

.wikishell {
	padding: 5px;
	margin:0 auto;
	align: center;
	width: 90%;
	font-family: wow;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.wikitext {
	padding: 10px;
}


a{
	font-family: wow;
      color: #ffff00;
}
a:hover{
   color: #ffffff;
}
a:visited{
  color: #999900;
}

td{
    font-family: wow;
    font-size: 12px;
     color: #ffffff;
}

.news_img_td {
	vertical-align: top;
	horizontal-align: center;
	width: 64px;
}
.news_td {
	vertical-align: top;
	
	background-position: center center;
}
.news_a{
	vertical-align: top;
}

.tabletop
{
    font-family: wow;
    font-size: 16px;
    color: #ffffff;
}

hr {
height:24px;
	padding: 0px;
    border: 0px;
	background-position: 0px -13px;
	
	background-image: url("uitop.png");
}

.sc_top_menu_table {
    font-family: wow;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;   
	background-image: url("uitop.png");
}

.sc_top_menu_table_td{ 
	
}

.thirdtd{
   vertical-align: bottom;
    height: 24px;
    font-family: wow;
    font-size: 12px;
    color: #ffffff;
    background-color: #03060c;
    
	
}

.contenttd {
    color: #ffffff;
}

.midtd{
	padding: 15px;
    #border: 1px;
    #border-color: #000000;
    #border-style: solid;
}

.toptexttd {
  height: 259px;
   background-image: url("wow_banner.png");
   background-size:1135px 259px;
   background-repeat:no-repeat;
}
    
.toptd{
    font-family: wow;
    font-size: 1px;
    font-weight: bold;
   		
    padding-left: 45px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    
    color: #000000;
}




.forum_box {
	width: 100%;
	float: left;
	overflow: hidden;
	background-color:rgba(0,15,0,0.5);
	border-radius: 10px;
	margin: 2px;
}

.forum_user{
	float: left;
	min-height: 150px;
	padding: 5px;
}

.forum_message{
	overflow: hidden;
	min-height: 160px;	
	padding: 5px;
	background-color:rgba(0,0,0,0.5);
	
}

.forum_time{
	overflow: hidden;
	clear: both;
	
}



.lefttd {
	width: 1px;
}

.righttd {
	width: 1px;
}

.slogan{
	font-family: wow;
	font-size: 10px;
    font-style: italic ;
    color: #FFFF00;
    text-shadow: 2px 2px #222;

}

input,select,textarea {
    font-family: wow;
    font-size: 12px;
    
    color: #000000;
    border: 1px;
    border-color: #c2c7f6;
    border-style: solid;
    background-color: #987808;
}

button, input[type="submit"] {
	margin: 1px;
	font-family: wow;
	color: #FFFF00;
	text-shadow: 2px 2px #222;
	cursor: pointer;
	background-color: #900;
	border: 1px solid;
	border-top-color: #888;
	border-left-color: #666;
	border-bottom-color: #444;
	border-right-color: #444;
	border-radius: 4px;
	
	-moz-box-shadow: 5px 5px 3px  #555;
	-webkit-box-shadow: 5px 5px 3px   #555;
	box-shadow: 2px 2px 2px  #000;
}



