body {
	margin: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#96a696), to(#353));
	background-image: -webkit-linear-gradient(top, #96a696, #353);
	background-image:    -moz-linear-gradient(top, #96a696, #353);
	background-image:      -o-linear-gradient(top,   #96a696, #353);
	background-image:         linear-gradient(to bottom, #96a696, #353);
	background-repeat:no-repeat;
	background-position:right top;
	background-attachment: fixed;
}

h1, h2, h3
{
	color: #DFFFC9;
	margin: 0px;
	text-shadow: 2px 2px 2px #000;
}

.news_box {
	clear: both;
	margin: 0px;
}

.news_headline_bar {
	background-color:rgba(0,220,150,0.1);
	height: 25px;
	padding: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.news_headline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
	color: #DFFFC9;
	float: left;
	text-shadow: 2px 2px 2px #000;
}

.news_time {
	font-style: italic;
	padding: 5px 25px;
	vertical-align: text-bottom;
	float: left;
}

.news_image {
	
	float: left;
}

.news_article {
	border-top: 1px solid #000;
	clear: both; 
	padding: 15px;
	background-color:rgba(0,0,0,0.1);
}

.news_edit_bar {
	border-top: 1px solid #000;
	clear: both;
	background-color:rgba(0,160,150,0.1);
	padding: 25px;
	margin: 0 0 25px 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.forum_box {
	color: #000;
	width: 98%;
	float: left;
	
	background-color:rgba(30,50,30,0.3);
	padding: 0px 10px 10px 10px;
	border-radius: 10px;
	margin: 2px;
	border: 1px solid;
}

.forum_user{
	float: left;
	min-height: 160px;
	background-color:rgba(3,5,3,0.8);
	padding: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #96a696;
}

.forum_message{
	overflow: hidden;
	min-height: 180px;	
	padding: 5px;
	color: #000; 
	background-color:rgba(0,0,0,0.2);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid;
	border-left-color: #000;
	border-bottom-color: #000;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#96a696), to(#131));
	background-image: -webkit-linear-gradient(top, #96a696, #131);
	background-image:    -moz-linear-gradient(top, #96a696, #131);
	background-image:      -o-linear-gradient(top,   #96a696, #131);
	background-image:         linear-gradient(to bottom, #96a696, #131);
	background-repeat:no-repeat;
	background-position:right top;
	background-attachment: fixed;
	
}

.forum_time{
	overflow: hidden;
	clear: both;
	padding: 15px 25px 15px 250px;
	
}




.rfs_thumb {
	box-shadow: 5px 5px 5px #020;
	border:solid 1px #222222;
	border-radius:5px;
	margin: 5px;
}

.wikishell {
	padding: 10px;
	margin:0 auto;
	align: center;
	width: 90%;
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 5px 5px 5px #020;
}

hr {
    border: 1px;
	border-color: #3D3D3D;
	border-style: dashed;
}

.slogan
{
    font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
	color: #DFFFC9;
	text-shadow: 2px 2px 2px #000;

}

.confirmform
{
	padding: 45px;
    border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-color: #000000;
    border-width: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: normal;
	font-style: normal;
	color: #FFFFFF;
	background-color: #880000;
}

.warning
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: normal;
  font-style: normal;
  color: #FFFFFF;
  background-color: #880000;
  border: 2px dashed #f00;
  border-radius: 15px;
  padding: 30px;
}

.tabletop
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
}

.sc_top_menu_table
{
  font-family: Lucidia;
  gfont-size: x-large;
  font-style: normal;
}

.sc_top_menu_table_td
{
  font-family: Lucidia;
  gfont-size: x-large;
  font-style: normal;
}

.rfswiki_link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #c6c656;
}

.rfswiki_link:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #c6c656; 
}

.rfswiki_link:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #FFFF56;
	background-color:rgba(0,100,0,0.6);
}

.sc_top_menu_link
{
    font-family: Lucidia;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
}

.sc_top_menu_link:link
{
    font-family: Lucidia;
        font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #FAFAFA;
}

.sc_top_menu_link:visited
{
    font-family: Lucidia;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

.sc_top_menu_link:hover
{
    font-family: Lucidia;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
	color: #b7d7ee;
}

.news_headline
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
	color: #DFFFC9;
}

.news_headline:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #777777;
}

.news_headline:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #555555;
}

h1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
	
}

td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
   color: #000000;

}

.downloadtd
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #0397FF;
}

.contenttd
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
color: #DFFFC9;
}

.sc_project_table_0
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #000000;
    background-color: #cccccc;
}

.sc_project_table_1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #000000;
	background-color: #dddddd;
}

.sc_project_table_2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #000000;
	background-color: #eeeeee;
}


.sc_top_file_table
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:   #000000;
    background-color: #8888ff;
}

.sc_file_table_0
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #000000;
	background-color:rgba(0,220,150,0.1);
}

.sc_file_table_1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #000000;
	background-color:rgba(0,220,150,0.2);
}

.sc_file_table_2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #000000;
    background-color:rgba(0,220,150,0.3);
}

.rfs_bulletlist
{
    color: #000000;
    background-color: #dddddd;
    border: 1px;
    border-color: #888888;
}
.rfs_bulletlist_img_td
{
    color: #444444;
    background-color: #eeeeee;
    width: 7px;
}
.rfs_bulletlist_txt_td
{
    color: #444444;
    background-color: #eeeeee;
}


th
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:   #000000;
	background-color: #AAAAAA;
}

.dropshadow {
    box-shadow: 5px 5px 5px #727272;
    border:solid 1px #727272;
    border-radius:8px;
}

.midtd {
    margin: 5px;
    padding: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    
}

.toptd
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:   #FFFFFF;
}


.lefttd{
	margin: 0px;
	width: 1px;
}


.righttd{
	margin: 0px;
	width: 1px;
}

a
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
	color: #c6c656;
	text-shadow: 1px 1px 1px #000;
}

a:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
	color: #c6c656;
}

a:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
	color: #FFFF56;
	background-color:rgba(0,100,0,0.6);
	
}

select
{
    font-family: Verdana;
    font-size : 12px;
    font-weight: bold;
    border-width : 1px;
    fborder-style : dashed;
    background-color : #dcdcdc;
}

input, textarea, button, input[type="submit"] 
{
    font-family: Verdana;
    font-size : 12px;
    font-weight: bold;
    border-width : 1px;
    border-style : dotted;
    background-color:rgba(0,220,150,0.1);
	border-radius: 4px;
}

button:hover, input[type="submit"]:hover {
	color: #FF6;
	background-color: #000;
	cursor: pointer;
	
}


.fdsahover
{

	filter: glow(color=#526D00, strength=#2);
    bagfckground-color: #00cccc;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    text-shadow: black 0px 0px 5px;
    gfcolor: #000000;
    fackground: white; 
    color: white;
    text-shadow: 3px 3px red, yellow -3px 3px 2px, 3px -3px;
	filter:alpha
	filter:blur
	filter:chroma
	filter:dropshadow
	filter:fliph
	filter:flipv
	filter:glow
	filter:gray
	filter:invert
	filter:mask
	filter:shadow
	filter:wave
	filter:xray
}
