body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
	background-image: url('/themes/default/t.background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
}
	.wikishell {
	margin:0 auto;
	padding: 10px;
	align: center;
	width: 90%;
	font-family: monospace;
	background-color: #000000;
	color: #00FF00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


.rfs_thumb {
	box-shadow: 3px 3px 3px #222222;
	border:solid 1px #222222;
	border-radius:5px;
}

.slogan {
    font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
    color: #00FF00;
}

.warning {
  font-family: Lucidia;
  font-size: x-large;
  font-style: normal;
  color: #FFFFFF;
  background-color: #008800;
}

.tabletop{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
}

.sc_top_menu_table{
  font-family: Lucidia; 
  font-style: normal;  
}

.sc_top_menu_link {
    font-family: System;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #00FF00;
}
.sc_top_menu_link:link {
    font-family: System;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #00FF00;

}
.sc_top_menu_link:hover {
    font-family: System;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
	background-color:  #00ff00;
	color: #000000;
}

.news_headline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.news_headline:link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.news_headline:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #00ff00;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 32px;;
    font-weight: bold;
    font-style: italic;
    color: #009900;
}
h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;;
    font-weight: bold;
    font-style: italic;
    color: #009900;
}
h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;;
    font-weight: bold;
    font-style: italic;
    color: #009900;
}

.font {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-style: normal;
    color: #FFFFFF;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color:  #009900;
}

.downloadtd {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #039700;
	background-color: #002200;
}
.confirmform
{
	padding: 45px;
    border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-color: #000000;
    border-width: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: normal;
	font-style: normal;
	color: #FFFFFF;
	background-color: #880000;
}

.contenttd {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color:   #FFFFFF;
	background-color: #003300;
}

.midtd{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
}

.toptd {
    font-family: Verdana;
    font-size: 1px;
    font-style: italic;
    font-weight: bold;
    color:   #000000;
}

.lefttd {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color:   #00FF00; 
}

th {
	background-color: #2c5c2c;
}
.sc_project_table_header {
	background-color: #2c5c2c;
}

.sc_project_table_1{
	background-color: #407c40;
	color: #000000;
}

.sc_project_table_2 {
	background-color: #3c6c3c;
	color: #000000;
}


a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    ffont-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #00FF00;
}

a:link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    dfont-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #00FF00;
}

a:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    gfont-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #000000;
    background-color: #00FF00;
    
}


input, select, textarea {
    font-family: Verdana;
    font-size : x-small;
    font-weight: bold;
    border-style : solid;
    border-width : 2px;
	color: #004F00;
    border-color : #005F00;
    background-color : #00F800;

}