body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
	background-image: url('/themes/default/t.background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	margin:0px;
}


.news_box {
	clear: both;
	margin: 0px;
}

.news_headline_bar {
	background-color:rgba(0,200,0,0.1);
	
	height: 25px;
	padding: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.news_headline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #070;
	float: left;
}

.news_time {
	font-style: italic;
	padding: 5px 25px;
	vertical-align: text-bottom;
	float: left;
}

.news_image {
	
	float: left;
}

.news_article {
	border-top: 1px solid #000;
	clear: both; 
	padding: 15px;
	background-color:rgba(0,0,0,0.1);
}

.news_edit_bar {
	border-top: 1px solid #000;
	clear: both;
	background-color:rgba(0,160,150,0.1);
	padding: 25px;
	margin: 0 0 25px 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.wikishell {
	margin:0 auto;
	padding: 10px;
	align: center;
	width: 90%;
	font-family: monospace;
	background-color: #050;
	color: #00FF00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


.rfs_thumb {
	box-shadow: 3px 3px 3px #222222;
	border:solid 1px #222222;
	border-radius:5px;
}

.slogan {
    font-family: Verdana;
    font-size: 12px;
    font-style: italic ;
    color: #00FF00;
}

.warning {
  font-family: Lucidia;
  font-size: x-large;
  font-style: normal;
  color: #FFFFFF;
  background-color: #008800;
}


.sc_top_menu_table{
  font-family: Lucidia; 
  font-style: normal;  
}

.sc_top_menu_link {
    font-family: System;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #00FF00;
}
.sc_top_menu_link:link {
    font-family: System;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #00FF00;

}
.sc_top_menu_link:hover {
    font-family: System;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
	background-color:  #00ff00;
	color: #000000;
}

hr {
	border: 1px dashed #0f0;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;;
    font-weight: bold;
    font-style: italic;
    
	color: #009900;
	background-color:rgba(0,0,0,0.2);
	padding:0;
	margin:0;
}
h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;;
    font-weight: bold;
    font-style: italic;
    
	color: #009900;
	
	background-color:rgba(0,0,0,0.2);
	padding:0;
	margin:0;

}
h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;;
    font-weight: bold;
    font-style: italic;
    color: #009900;

}

.font {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-style: normal;
    color: #FFFFFF;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color:  #009900;
}

.downloadtd {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:   #039700;
	background-color: #002200;
}
.confirmform
{
	padding: 45px;
    border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-color: #000000;
    border-width: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: normal;
	font-style: normal;
	color: #FFFFFF;
	background-color: #880000;
}

.contenttd {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
	padding: 5px;
	color:   #FFFFFF;	
	background-color:rgba(0,0,0,0.6);
}

.midtd{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	border: 1px solid #000;
	background-color:rgba(0,0,0,0.6);
}

.toptd {
    font-family: Verdana;
    font-size: 1px;
    font-style: italic;
    font-weight: bold;
    color:   #000000;
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #000;
}

.logged_in_td {
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #000;
}

.lefttd {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color:   #00FF00; 
	background-color:rgba(0,0,0,0.2);
	width:1px;
}

.righttd {
	background-color:rgba(0,5,0,0.8);
	width: 1px;
}

th {
	background-color: #2c5c2c;
}
.sc_project_table_header {
	background-color: #2c5c2c;
}

.sc_project_table_1{
	background-color: #407c40;
	color: #000000;
}

.sc_project_table_2 {
	background-color: #3c6c3c;
	color: #000000;
}

.news_box {
	background-color:rgba(0,15,0,0.5);
}

.news_article {
	padding: 10px;

}

.forum_box {
	width: 100%;
	color: #00FF00;
	background-color: #114411;
	float: left;
	overflow: hidden;
}

.forum_user{
	float: left;
	min-height: 150px;
	background-color: #225522;
	border: 1px dashed #00ff00;
	border-radius: 8px;
	padding: 5px;
}

.forum_message{
	overflow: hidden;
	min-height: 160px;	
	color: #00FF00;
	// ackground-color: #000000;
	padding: 5px;
	
}

.forum_time{
	overflow: hidden;
	clear: both;
	color: #112211;	
	background-color: #225522;
	
}


.sc_forum_table_header {
	background-color: #2c5c2c;
}

.sc_forum_table_1{
	background-color: #407c40;
	color: #000000;
}

.sc_forum_table_2 {
	background-color: #3c6c3c;
	color: #000000;
}



.file_category {
	background-color: #2c5c2c;
}

.sc_file_table_1{
	background-color: #407c40;
	color: #000000;
}

.sc_file_table_0 {
	background-color: #3c6c3c;
	color: #000000;
}


a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #00FF00;
}

a:link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #00FF00;
}

a:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    gfont-size: xx-small;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #000000;
    background-color: #00FF00;
    
}

.copyright {
	width: 100%;
	text-align: center;	
	background-color:rgba(0,f,0,0.8);
}


input, select, textarea {
    font-family: Verdana;
    font-size : x-small;
    font-weight: bold;
    border-style : solid;
    border-width : 2px;
	color: #004F00;
    border-color : #005F00;
    background-color : #00F800;

}